<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768526981849-qnmpsv56okd0guiosuur6mscv8dko89k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768526981849-qnmpsv56okd0guiosuur6mscv8dko89k</string>
	<key>API_KEY</key>
	<string>AIzaSyAMOnzDcyex1Br5T1X_TMZ4MFd6KnopItM</string>
	<key>GCM_SENDER_ID</key>
	<string>768526981849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.a5Todolist</string>
	<key>PROJECT_ID</key>
	<string>flutter-todolist-6f945</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todolist-6f945.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768526981849:ios:62aa0b4a1d5394dba2bcc8</string>
</dict>
</plist>